__pycache__/player.cpython-38.pyc
cache/ammo.csv
cache/body.csv
cache/feet.csv
cache/hands.csv
cache/head.csv
cache/leg.csv
cache/neck.csv
cache/one handed.csv
cache/ring.csv
cache/shield.csv
cache/two handed.csv
scraping.py
